@import '~styles/main';

.nav-item {
  align-items: center;
  margin-right: 46px;
  .value {
    text-align: left;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;

    color: color(primary-black);
    text-transform: uppercase;
  }

  .icon {
    margin-left: 8px;
  }
}
