@import '~styles/main';

.Logo {
  text-align: left;

  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;

  letter-spacing: 0px;
  opacity: 1;

  a {
    color: #707070;
    text-decoration: none;
  }
}
